
/* VARIABLES */ 

:root {
    --primary-color: rgba(255, 0, 0, 0.9);
    --secondary-color: rgba(162, 0, 5, 0.9);
    --lighter-bg-color: #eee;
    --font-color: #000;
    --bg-color: #fff;
    --switch-bg-color: rgba(0, 0, 0, 0.15);
    --loader-bg-color: #ffffff;
    --scroll-bg-color: #eee;
    --scroll-fg-color: #ccc;
    --moon: block;
    --sun: none;
    --invert: invert(0%);
}

[data-theme="dark"] {
    --primary-color: rgba(255, 0, 0, 0.9);
    --secondary-color: rgba(162, 0, 5, 0.9);
    --lighter-bg-color: rgb(30, 30, 30);
    --font-color: #ffffff;
    --bg-color: #0a0a0a;
    --switch-bg-color: rgba(255, 255, 255, 0.15);
    --loader-bg-color: #151515;
    --scroll-bg-color: #0f0f0f;
    --scroll-fg-color: #272727;
    --moon: none;
    --sun: block;
    --invert: invert(100%);
}

/* PREREQUISITES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}

html {
    margin: 0;
    scroll-behavior: smooth !important;
}

::-moz-selection {
    color: var(--font-color);
    background-color: transparent;
}

::-webkit-selection {
    color: var(--font-color);
    background-color: transparent;
}

::selection {
    color: var(--font-color);
    background-color: transparent;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
}

hr {
    width: 85%;
    border-color: var(--lighter-bg-color);
    transition: 0.4s !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 0.8;
}

a:hover {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 1;
}

/* LOADER */

.load {
    height: 100%;
    width: 100%;
    background-color: var(--lighter-bg-color);
    z-index: 999999;
    padding-top: 17%;
    position: fixed;
    table-layout: fixed;
    transition: transform 1s ease-out;
    display: table;
}

.loader-wheel {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    height: 200px;
    width: 200px;
}

.loader-wheel:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--primary-color);
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    animation: spin 1.5s linear infinite;
}

.loader-wheel::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--secondary-color);
    animation: spin 1s linear infinite;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

/* DARK MODE SWITCH */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    float: right;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
}

.theme-switch-wrapper a {
    margin: 10px 15px;
}

.theme-switch {
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
}

.theme-switch input {
    display: none;
}

.slider {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30;
    text-align: center;
    padding-top: 10px;
    background-color: var(--switch-bg-color);
    opacity: 0.5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.4s;
}

.slider:hover {
    opacity: 1;
}

.sun {
    display: var(--sun);
}

.moon {
    display: var(--moon);
}

.slider img {
    height: 30px;
}

.slider.round {
    border-radius: 50%;
}

/* NAVBAR */

#fp-nav ul li a span {
    background-color: var(--secondary-color) !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

#fp-nav ul li a.active span {
    background-color: var(--primary-color) !important;
}

#fp-nav ul li .fp-tooltip {
    color: var(--font-color) !important;
}

/* HOME */

#home {
    background-image: url('lib/homebg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#home .over {
    background-image: url('lib/homefg.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: bottom;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.heading {
    visibility: visible;
    z-index: 1;
}

.heading h1 {
    color: var(--font-color);
    transition: 0.4s;
    font-size: 70px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-heading {
    color: #fff !important;
}

#oops .heading h1 {
    background-image: url('https://namanchandok.github.io/lib/homebg.png');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
    font-size: 150px;
    font-weight: bolder;
    -webkit-text-fill-color: rgba(0,0,0,0.1);
}

.heading h3, .heading  h5 a {
    text-transform: uppercase;
    font-family: 'Odibee Sans', sans-serif;
    letter-spacing: 2px;
    color: var(--font-color);
    transition: 0.4s;
}

#oops {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    align-content: center;
    justify-content: center;
}

/* SECTIONS */

.section-hr {
    height: 5px;
    width: 40%;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.section .row {
    padding: 10px;
}

.section-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 300px;
    font-size: 50px;
    padding: 10 10 10 0;
    color: var(--font-color);
    transition: 0.4s;
}

.section-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 20 10 10 10;
    color: var(--font-color);
    transition: 0.4s;
}

.section {
    background-color: var(--bg-color);
}

/* ABOUT */

.about-img {
    width: 90%;
    border-radius: 50%;
    border: 5px solid var(--scroll-fg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

/* SKILLS */

.icon:hover {
    color: var(--primary-color);
}

.icon:hover .img-top {
    display: block;
}

#skills i {
    font-size: 50px;
    padding-bottom: 10px;
}

.icon:hover img {
    display: none;
}

.icon {
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.icon i {
    display: block;
}

.icon span {
    display: block;
}

ul.icons {
    list-style: none;
}

ul.icons li {
    display: inline-block;
    cursor: pointer;
}

img.skill-img {
    height: 50px;
    padding-bottom: 10px;
    filter: var(--invert);
    transition: 0.4s;
}

img.img-top {
    display: none;
    filter: invert(0);
}

.text-logo {
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .icon {
        width: 100% !important;
    }
}

/* WORKS */

.image {
    overflow: hidden;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.4s;
}

.image img {
    width: 100%;
    margin: 5px;
}

.image:hover img {
    transform: scale(1.05);
}

.gallery img {
    margin: 5px;
    transition: 0.4s;
}

/* CONTACT */

.social-links {
    color: var(--font-color);
    transition: 0.4s;
    font-size: 25px;
    margin: 0px 5px 5px 0px;
}

.far {
    color: var(--secondary-color);
}

#footer small {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 300px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}

/* ANIMATIONS */

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-o-keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
